informed-consent/*
!informed-consent/*tex
!informed-consent/*pdf

analyses/data/*.csv
!analyses/data/results.csv

analyses/.Rproj.user
.Rproj.user

analyses/data/results.txt
analyses/stats/*.log

paper/*
!paper/sections
!paper/*.bib
paper/sections/*
!paper/sections/*.tex
!paper/sections/*.pdf
!paper/images/
!paper/*.tex
!paper/*.pdf
!paper/Makefile
!paper/*sed

analyses/.Rhistory
analyses/stats/*tikzDictionary
analyses/stats/methods-results*/**
analyses/stats/*files/**
analyses/stats/*cache/**
