informed-consent/*
!informed-consent/*tex
!informed-consent/*pdf

analyses/data/*.csv
!analyses/data/results.csv

analyses/.Rproj.user
.Rproj.user

analyses/data/results.txt

paper/*
!paper/sections
paper/sections/*
!paper/sections/*.latex
!paper/sections/*.pdf

!paper/*.latex
!paper/*.pdf

analyses/.Rhistory

analyses/stats/h1-2_files
analyses/stats/h3-6_files
