{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    <h1>FIZIOLOGIJA BORAVKA NA VISINAMA</h1>
{% endblock %}

{% block content %}

    <div align="justify">
    <p>Atmosferski tlak na razini mora iznosi 760 mm Hg, dok je na približno 3000 m samo 
    523 mm Hg, a na kojih 15000 m iznosi samo 87 mm Hg. To sniženje atmosferskog tlaka 
    osnovni je uzrok svih problema što ih uzrokuje hipoksija na velikim visinama. Naime, 
    kad god se atmosferski tlak snizuje, razmjerno se snizuje i tlak kisika, koji uvijek 
    iznosi manje od 21% ukupnog atmosferskog tlaka. Parcijalni tlak kisika (PO2) u suhom 
    zraku na morskoj razini iznosi približno 150 mm Hg. Kada u zraku ima mnogo vodene pare, 
    ta se vrijednost može smanjiti za 10 mm Hg. Na približno 3000 m parcijalni tlak kisika 
    iznosi oko 110 mm Hg, na približno 6000 m kreće se oko 73 mm Hg, a na približno 15000 m 
    iznosi 18 mm Hg. U dijelu koji slijedi razmotrit ćemo promjene tlaka kisika u alveolama, 
    s obzirom na nadmorsku visinu.</p>

    <h3>Parcijalni tlak kisika u alveolama na različitim visinama</h3>

    <p>Kako se na većim visinama parcijalni tlak kisika u atmosferi snizuje, može se, naravno, 
    očekivati i pad parcijalnog tlaka kisika u alveolama. Na manjim visinama parcijalni tlak 
    kisika u alveolama ne snizuje se baš u tolikoj mjeri kao parcijalni tlak kisika u 
    atmosferi, jer se smanjenje kisika u atmosferi donekle nadoknađuje povećanom 
    ventilacijom pluća. Međutim, na većim visinama parcijalni tlak kisika u alveolama se 
    snizuje čak i više nego parcijalni tlak kisika u atmosferi.</p>
    <p>Na velikim visinama vrlo važna postaje nazočnost ugljičnog dioksida i vodene pare u 
    alveolama, jer ukupan atmosferski tlak pada na niske vrijednosti, dok se tlakovi 
    ugljičnog dioksida i vodene pare ne snizuju razmjerno tome. Čak i na velikim nadmorskim 
    visinama ugljični se dioksid stalno odstranjuje iz krvi plućnih kapilara u alveole. 
    Isto tako se i voda s respiracijskih površina isparava u alveolarni prostor. Zbog toga 
    ugljični dioksid i vodena para razrjeđuju kisik i dušik koji se već nalaze u alveolama, 
    te tako snizuju koncentraciju kisika.</p> 
    </div>
    
    
{% endblock %}
