{% extends "global/Page.html" %}
{% load otree %}


{% block content %}

    <h2>Biološke značajke korova</h2>
    <div align="justify">
    <p>Svakoj korovskoj vrsti svojstvene su određene biološke značajke, koje joj omogućuju da se održi u nekom poljoprivrednom staništu (agrobiotopu) 
    i čije je poznavanje nužno za njegovo uspješno suzbijanje. U tijeku posebnog načina života pri posebnim uvjetima, svaka korovska vrsta poprimila 
    je niz specifičnih morfoloških, fizioloških i drugih značajki. Poznavanjem temeljnih bioloških značajki pojedinih korova, vremena njihova 
    pojavljivanja, faznog razvitka, načina razmnožavanja, njihova odnosa prema kulturnim biljkama i stanišnim čimbenicima, može se odabrati 
    najracionalniji pristup u ekološkom i tehnološkom smislu za ometanje njihova razvitka, pa i potpunog uništenja.</p>
    <p>Suvremeni zahvati suzbijanja korova moraju se temeljiti na dobru poznavanju ekologije i biologije korovskih vrsta, odnosno moraju biti potpuno u 
    skladu s biološkim značajkama korova, u koje redom spadaju:</p>
    <ol>
    <li><p>Poliploidija. Mnoge korovske vrste su poliploidne, što znači da imaju tri ili više setova kromosoma. Takvi korovi su bujniji, veći i 
    varijabilniji. Istodobno, diploidne forme istih vrsta (one koje imaju dva seta kromosoma) zbog manje prilagođenosti nisu izdržale uvjete 
    koji vladaju na poljoprivrednim površinama, pa su i bitno manje proširene. Primjeri korova koji imaju i diploidnu i poliploidnu formu su: 
    rusomača, obični stolisnik, osjak i dr. Primjeri, pak, korovskih vrsta u kojih su poznate samo poliploidne forme su ove: obični maslačak, 
    puzava pirika, obična mišjakinja, dimnjača i dr. Poliploidni korovi imaju veću ekološku prilagodljivost, odnosno plastičnost.</p></li>
    <li><p>Dormantnost. Sjeme nekih korova uopće ne klija, unatoč završenoj fruktifikaciji, odnosno ispunjenim ekološkim uvjetima za klijanje, jer ga 
    neki inhibitorni čimbenici onemogućuju. Dormantno sjeme korova osigurava sebi duže razdoblje mirovanja, a nakon toga može proklijati. Divlja 
    zob, primjerice, svoju prirodno uvjetovanu dormantnost može zahvaliti nepropusnosti omotača oko ploda (perikarpa) za zrak, iako je propustan 
    za vodu, što sprječava klijanje. Primjerice, ako se svježi plod korova pjegastog dvornika izloži temperaturi od 27°C, bolje klija nego na 
    nižim temperaturama, dok su plodovi korova oštrodlakavog šćira, konjskog štavlja, žabnjaka, vlasnjače i dr. dormantni samo dok su u svježem 
    stanju. Treba napomenuti da se sve većim stupnjem domestikacije (udomaćenosti biljke na određenom prostoru) smanjuje dormantnost korova.</p></li>
    <li><p>Neotenija. Ta se značajka korova očituje u njihovoj sposobnosti da i u nepovoljnim uvjetima rasta formiraju generativne organe, odnosno da 
    u nepovoljnim ekološkim prilikama završe svoj pojedinačni razvitak, stvarajući sjeme, a pri tome u morfološkom smislu zadržavaju izgled 
    mlađih razvojnih faza. Neoteniju prije svega potiču ekološki čimbenici, ali pokatkad i kompeticijski odnosi s uzgajanim kulturama u gustom 
    sklopu za pojedine biofaktore. U neotenične korove spadaju poljska repica, različak, sitnocvjetna konica i dr., a sama pojava neotenije utvrđena 
    je u oko 90 vrsta korova. Sposobnost korova da stvaraju neotenične jedinke potvrđuje njihovu veliku plastičnost. To otežava suzbijanje korova, 
    jer korov skraćenjem vegetacije osigurava vlastitu biološku reprodukciju u nepovoljnim uvjetima u kojima uzgajane kulture mogu masovnije ugibati.</p></li>
    <li><p>Stvaranje velikog broja sjemenaka. Korovske biljke posjeduju golemu rodnost. Čimbenik reprodukcije sjemena u korova veći je 10 do 10.000 
    puta nego u kulturnih biljaka. Velika rodnost korova pomaže im u borbi za opstanak i za veliku ekspanziju u prostoru. Primjera radi, navodi 
    se da jedna biljka bunike pri povoljnim uvjetima može stvoriti i do 960.000 sjemenaka. Premda su podaci o plodnosti korova katkad proturječni, 
    što je sasvim razumljivo uzmu li se u obzir različiti ekološki uvjeti, radi objektivnijeg spoznavanja tog problema navodi se redom koliko jedna 
    biljka korova može proizvesti sjemenaka: slak 600, poljska repica 2.000, obični pelin 50.000 do 70.000, obična konica 300.000, itd.</p>
    <p>Usto što korovi proizvode velike količine sjemena, sjemenke i plodovi korova imaju veliku životnu sposobnost i dugo zadržavaju klijavost, 
    pa su u prednosti pred kulturnim biljkama i pri većem propadanju sjemenaka ili ugibanju biljčica.</p></li>
    <li><p>Veća otpornost prema nepovoljnim abiotskim utjecajima. Veću otpornost prema ekstremno visokim i ekstremno niskim temperaturama, te 
    ekstremnoj suši ili ekstremnoj vlažnosti, korovi mogu zahvaliti većoj vitalnosti i većoj heterozigotnosti. Za razliku od kulturnih biljaka, 
    korovi u takvim uvjetima ostaju uglavnom neoštećeni i stvaraju veliku količinu sjemena, koje im omogućuje nesmetano širenje.</p></li>
    <li><p>Veća otpornost prema nepovoljnim biotskim čimbenicima. Ponajprije se misli na veću otpornost prema bolestima i štetnicima, što korovi 
    također mogu zahvaliti većoj biološkoj snazi. Time ujedno stječu određene prednosti u kompeticiji za vegetacijske čimbenike pred kulturnim 
    biljkama.</p></li>
    <li><p>Dugovječnost sjemenaka korova i velika otpornost prema eksternim štetnim utjecajima. Utvrđeno je da sjemenke mnogih korova koje se unesu 
    u tlo mogu životnu sposobnost sačuvati mnogo godina, primjerice, bijela loboda 38 g., ambrozija 40 g., poljski slak 50 g., bijeli kokotac 77 g., 
    konjska kiselica 80 g., itd.</p>
    <p>Neistodobno i rastezljivo klijanje sjemena korova važna je biološka značajka po kojoj se korovi također razlikuju od kulturnih biljaka. 
    Vremenski interval u kojem klijaju sjemenke kulturnih biljaka računa se u danima. U mnogih korova sjemenke mogu klijati u tijeku čitavog 
    vegetacijskog razdoblja ili ležati u tlu godinama ne tjerajući klicu, što je u izravnoj vezi s već spomenutom dormantnošću. Osim toga, sjeme 
    brojnih korova otporno je prema vlazi i temperaturnim kolebanjima zahvaljujući svojoj građi i kemijskom sastavu, prije svega vrlo čvrstoj 
    sjemenoj ljusci (silicijeva kiselina) i većem sadržaju ulja, što mu u nepovoljnim uvjetima omogućuje preživljavanje i prenošenje vodom na 
    velike udaljenosti. Naprotiv, u nepovoljnim će uvjetima sjeme kulturnog bilja propasti.</p></li>
    </ol>
    </div>

{% endblock %}