{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    <h1>KOROVI</h1>
    
    
{% endblock %}



{% block content %}



    <h2>Pojam i definicija korova</h2>
    <div align="justify">
    <p>Više od 3.000 zeljastih i drvenastih vrsta biljaka u svijetu smatra se korovima. Glavnina troškova međuredne 
    obrade okopavina (biljaka za čiji je uzgoj karakteristično okopavanje, kao što su krumpir ili kukuruz), 
    predsjetvene pripreme tla i čišćenja sjemena vezano je za suzbijanje korova. Osim toga, nastoji se kontrolirati 
    i širenje korova u urbanim prostorima, te uz željezničke pruge, ceste, kanale za navodnjavanje itd. Prema jednoj 
    definiciji, korovi su nekorisne, nepoželjne i štetne biljke. Pojednostavljeno, korov je biljka koja raste tamo 
    gdje nije poželjna, bile to poljoprivredne površine ili urbani prostori, na kojima se pojavljuju korovima srodne 
    ruderalne biljke (biljke koje se nalaze uz ruševine, naselja i slično), koje ometaju iskorištavanje tih površina. 
    U pravilu, korovi su "žilave" i snažne biljke. Brzo rastu, imaju učinkovit korijenski i nadzemni sustav i vrlo su 
    plodni u proizvodnji sjemena. S poljoprivrednog motrišta, neke biljke gotovo u svim situacijama treba smatrati 
    korovima, dok se druge smatraju korovima samo zbog vremena i prostora u kojem se pojavljuju. U nekim slučajevima 
    i kulturne biljke mogu biti korovi. Hoće li se nazvati korovima ili neće, ovisi o tome je li njihova prisutnost 
    bez prigovora ili nije. Pšenica koja se nalazi u usjevu ječma koji će se koristiti kao stočna hrana teško se može 
    nazvati korovom, jer ona nije štetna u takvim usjevima. Ako se, međutim, ista površina ječma uzgaja za proizvodnju 
    sjemena, pšenicu treba smatrati korovom jer je ona biljka koja nije poželjna. Drugim riječima, korov je svaka 
    biljka koja nije cilj uzgoja.</p>
    
    <p>Korovi uglavnom pripadaju višim autotrofnim biljkama (same sebi stvaraju hranu) koje rastu na tlu, a pojavljuju 
    se i kao parazitske biljke bez klorofila te kao biljke vodenih površina. No korovi mogu biti i alge (talofite). 
    Naša razmatranja usmjerena su prvenstveno na korove agrosfere - dijela okoliša koji su ljudi prilagodili za 
    poljoprivrednu proizvodnju. Ovdje se pojmovno mogu razlikovati dvije skupine korova: apsolutni i relativni. 
    U apsolutne korove spadaju sve biljne vrste na nekoj proizvodnoj površini koje nisu cilj uzgoja i koje se nalaze 
    u kompeticijskim odnosima prema uzgajanoj kulturi, nekorisne su, a mogu biti škodljive za zdravlje ljudi, domaćih 
    životinja i same kulturne biljke. U relativne korove također spadaju sve biljne vrste na nekoj proizvodnoj 
    površini koje nisu cilj uzgoja, a to može, u skladu s onim što je već rečeno, biti i kulturna biljka ili neka 
    druga korisna biljna vrsta koja ne pripada skupini kulturnih biljaka. Međutim, i korovske vrste u određenim 
    slučajevima mogu biti korisne. One mogu poslužiti kao industrijska sirovina i izvor prirodnih boja, a mogu se 
    koristiti i kao biopesticidi. Njihova prisutnost može biti indikator opskrbljenosti tla pojedinim biogenim 
    elementima ili toksičnim tvarima. Primjerice, utvrđena je korelacija između količine štetnog zračenja i broja i 
    dužine dlaka na listu trputca.</p>
    </div>
    
    
    <h2>Evolucija korova</h2>
    
    <div align="justify">
    <p>U tijeku svoje evolucije neki korovi toliko su se prilagodili uvjetima života kulturnih biljaka da se 
    pojavljuju kao njihovi stalni pratioci i razvijaju se zajedno s njima, pa se mogu zvati antropofitima (biljkama 
    čiji su rast i razvoj oblikovani ljudskom djelatnosti) kao i kulturne biljke. Na oraničnim i drugim 
    poljoprivrednim površinama kulturne se biljke i korovi razvijaju zajedno i čine umjetne cenoze (zajednice) - 
    agrofitocenoze - biljne zajednice čiji rast i razvitak određuje čovjek.</p>
    <p>Korovi se prilagođavaju životnom ciklusu, a pokatkad čak i habitusu kulturnih biljaka, jer ono što pogoduje 
    kulturnim biljkama pogoduje i korovima. Pri tome se korovi mijenjaju i morfološki. Primjere za to nalazimo u 
    nekih korova lana skupno nazvanih <i>Planta linicola</i>. Tako je ishodišna vrsta <i>Polygonum lapathifolium</i> 
    (pjegasti dvornik) <i>dobila naziv Polygonum linicola</i>, dok je vrsta <i>Camelina sativa</i> (sjetveni podlanak) 
    dobila naziv <i>Camelina linicola</i>. Potonja se vrsta toliko prilagodila kulturi lana da se izvan nje gotovo 
    uopće ne pojavljuje. Sposobnost prilagođavanja u uskoj je vezi sa samoodržavanjem korova. Prilagođavanje 
    agrotehničkim zahvatima i kulturnom tlu poprimilo je takve razmjere da mnoge korovske vrste izvan agrosfere ne 
    mogu uopće opstati. Prilagođavanje korova jednoj kulturi dugotrajan je proces koji se ostvaruje ovisno o vremenu 
    sjetve, duljini vegetacijskog razdoblja i vremenu sazrijevanja sjemena ili plodova.</p>
    <p>Korovi posjeduju visoku plastičnost u prilagodbi vanjskim uvjetima zahvaljujući sposobnosti održavanja u vrlo 
    širokim granicama kolebanja ekoloških čimbenika. Zahvaljujući evoluciji, korovi pokazuju neka izrazito 
    domestikacijska svojstva koja se ne susreću u biljnih vrsta slobodne prirode, poput naglašene jednogodišnjosti, 
    gubitka zaštitnih organa, gubitka <q>tvrdih</q> sjemenki u korova iz porodice mahunarki, te kozmopolitizma, tj. 
    sposobnosti prilagođavanja raznim uvjetima. Najvažnije su svakako jednogodišnjost i kozmopolitizam. Zahvaljujući 
    jednogodišnjosti korovi se izvrsno prilagođavaju prostornoj i vremenskoj izmjeni usjeva, a pomoću kozmopolitizma 
    osiguravaju ekološku prilagodbu na različite stanišne uvjete.</p> 
    <p>U korova je prisutna tendencija dominacije anualnih (jednogodišnjih) biljaka. Anualnost se očituje u širenju 
    korova samo sjemenom, što im omogućuje preživljavanje u nepovoljnim razdobljima koja se odnose na agrotehničke 
    zahvate kojima se, među ostalim, želi uništiti korove ili pak na meteorološke uvjete (nedostatak oborina, 
    ekstremno visoke ili ekstremno niske temperature itd.).</p>
    <p>Postoje i druge domestikacijske prilagodbe zbog kojih je teško postaviti granicu između kulture biljaka i 
    korova. Ishodište korova i kulturnih biljaka u prirodi je zajedničko, jer i korovi, uz neke izuzetke, spadaju u 
    više bilje kao i kulturne biljke. Nadalje, od nekih korova nastale su kulturne biljke (primjerice bijela gorušica, 
    tatarska heljda, raž), neke kulturne biljke prešle su u korove (crna zob) ili je njihov uzgoj napušten, a neke 
    vrste istodobno su i kulturne biljke i korovi (divlja mrkva, cikorija, bijeli kokotac itd.).</p>
    </div>


{% endblock %}



{% block styles %}

    <!-- define a style -->
    <style type="text/css">
        ...
    </style>


{% endblock %}

{% block scripts %}

    <!-- define a script -->
    <script>
        ...
    </script>


{% endblock %}


