{% extends "global/Page.html" %}
{% load otree %}

{% block styles %}
    <style>
        .col-form-label {
            font-weight: bold;
        }
        
    </style>
{% endblock%}


{% block content %}


    <h3>
        {{ message.0 }}
    </h3>
    
    <br>
    <br>

    {% formfield player.text1 label="Prvi tekst"%}
    
    <br>
    
    {% formfield player.text2 label="Drugi tekst"%}
    
    <br>
    
    {% formfield player.text3 label="Treći tekst"%}
    
    <br>
    <br>
    <br>
    <br>

    <h3>
        {{ message.1 }}
    </h3>
    
    {% formfield player.reading_deficits %}
    
    <br>
    
    {% formfield player.which %}
    
    <br>
    <br>
    
    {% formfield player.reading_difficulties_this_exp %}
    
    <br>
    <br>
    
    <button style="float: right;" class="otree-btn-next btn btn-primary next-button otree-next-button">Dalje</button>

{% endblock %}