{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    <h1>NASLOV PROBNOG TEKSTA</h1>
{% endblock %}

{% block content %}

    <div align="justify">
    Probni tekst
    </div>
    
    
    {% next_button %}

    
{% endblock %}



<!--{% block styles %}
    <style>
        .otree-timer {
            display: none;
        }
    </style>
{% endblock %}

{% block scripts %}
    <script>
        $(function () {
            $('.otree-timer__time-left').on('update.countdown', function (event) {
                if (event.offset.totalSeconds === 10) {
                    $('.otree-timer').show();
                }
            });
        });
    </script>
{% endblock %}