{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Vježba je završena!
{% endblock %}

{% block content %}

    {% if is_exp is False %}
    
        <div style="text-align: justify; text-justify: inter-word">
        
            <br>
            
            <p style="word-wrap: break-word; width: 517px">
                {{ message.0 }}
            </p>
            
            <p style="word-wrap: break-word; width: 517px">
                {{ message.1}} 
            </p>
            
            <p style="word-wrap: break-word ; width: 517px">
                {{ message.2 }}
            </p>
            
            <p style="word-wrap: break-word ; width: 517px">
                {{ message.3 }}
            </p>
            
            <br>
            <br>
            <br>
        
            <p>
                {{ message.4 }}
            </p>
            
        </div>
        
        
    {% else %}
    
        {% if feedback is True %}
            <div style="text-align: justify; text-justify: inter-word">
            
                <br>
                
                <p style="word-wrap: break-word; width: 517px">
                    {{ message.0 }}
                </p>
                
                <p style="word-wrap: break-word; width: 517px">
                    {{ message.1}} 
                </p>
                
                <p style="word-wrap: break-word ; width: 517px">
                    {{ message.2 }}
                </p>
                
                <p style="word-wrap: break-word ; width: 517px">
                    {{ message.3 }}
                </p>
                
                <br>
                <br>
                <br>
            
                <p>{{ message.4 }}</p>
            </div>
            
            
            
        {% else %}
        
            <div style="text-align: justify; text-justify: inter-word">
            
                <br>
                
                <p style="word-wrap: break-word; width: 517px">
                    {{ message.0 }}
                </p>
                
                <p style="word-wrap: break-word; width: 517px">
                    {{ message.1}} 
                </p>
                
                <p style="word-wrap: break-word ; width: 517px">
                    {{ message.2 }}
                </p>
                
                <br>
                <br>
                <br>
            
                <p>{{ message.3 }}</p>
            </div>
            
        {% endif %}
        
    {% endif %}
    
    <br>
    <br>
    <br>    
    
    {% formfields %}

    <button style="float: right;" class="otree-btn-next btn btn-primary next-button otree-next-button">Dalje</button>

{% endblock %}