{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Drugi dio: Pitanja
{% endblock %}

{% block content %}
    
    <div style="text-align: justify; text-justify: inter-word">
    
        <br>
    
        <p>Vaš sljedeći zadatak je odgovoriti na nekoliko pitanja vezanih za sadržaj pročitanog teksta.</p>
        
        <p style="word-wrap: break-word; width: 580px">
            Pitanja su tipa višestrukog izbora, stoga označite onaj odgovor koji smatrate točnim
            te ga potvrdite pritiskom na tipku "Dalje". To će i automatski pokrenuti prikaz
            sljedećeg pitanja.
        </p>
        
        <p style="word-wrap: break-word ; width: 361px">
            U ovoj vježbi odgovorit ćete na četiri pitanja.
        </p>
    
        <br>
        <br>
        <br>    
    
        <p>Kada ste spremni započeti s odgovaranjem na pitanja, pritisnite tipku "Dalje".</p>
    </div>
    
    <br>
    <br>
    <br>
    
    {% formfields %}

    <button style="float: right;" class="otree-btn-next btn btn-primary next-button otree-next-button">Dalje</button>

{% endblock %}