{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    
    
    {% if rereading is True %}
        <div style="text-align: justify; text-justify: inter-word">
        
            <br>
        
            <p style="word-wrap: break-word; width: 517px">
                {{ message.0 }}
            </p>
            
            
            <p style="word-wrap: break-word; width: 517px">
                {{ message.1}}
            </p>
         
            <br>
            <br>
            <br>    
        
            <p>
                {{ message.2 }}
            </p>
        </div>
        
    {% else %}
        
        <div style="text-align: justify; text-justify: inter-word">
            
            <br>
        
            <p style="word-wrap: break-word; width: 517px">
                {{ message.0 }}
            </p>
            
            <br>
            <br>
            <br>    
        
            <p>
                {{ message.1 }}
            </p>
        </div>
    
    {% endif %}
        
    <br>
    <br>
    <br>
    
    {% formfields %}

    <button style="float: right;" class="otree-btn-next btn btn-primary next-button otree-next-button">Dalje</button>

{% endblock %}