{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    <h1>PASIVNO ŠIRENJE KOROVA SJEMENOM ILI ALOHORIJA</h1>
{% endblock %}

{% block content %}

    <div align="justify">
    <p>Pasivno širenje korova odvija se pod utjecajem stranih sila. Širenje dijaspora, 
    odnosno sjemena, alohorijom glavni je način širenja korova. Čimbenici pasivnog širenja
     su vjetar, voda, životinje i čovjek.</p>

    <p>Širenje vjetrom ili anemohorija vrlo je agresivan način širenja nekih oblika sjemena korova. 
    Korovi koji se šire vjetrom imaju sjeme tako građeno da ono može letjeti (krilca, "padobran" itd.). 
    Kada puše vjetar, sjeme leti zrakom i pada na različitim udaljenostima od majčinske biljke, 
    ovisno o snazi i brzini vjetra. Takav način širenja sjemena korova vrlo je zastupljen u prirodi, 
    osobito u područjima gdje pušu jaki vjetrovi, što u nas posebice vrijedi za litoralno područje. 
    Najrašireniji anemohorni korovi u našoj su zemlji: livadna kozja brada, maslačak, poljski osjak, 
    obični staračac, kostriš, različak itd. Nažalost, anemohornih korova ima na svim staništima, jer 
    u nas gotovo nema predjela u kojima ne puše vjetar. Stoga za neku površinu očišćenu od korova 
    nema nikakva jamstva niti učinkovitih preventivnih mjera da neće ponovno biti inficirana donošenjem 
    sjemena i plodova korova pomoću vjetra.</p>
     
    <p>Širenje vodom ili hidrohorija, iako manje zastupljena od anemohorije, drugi je po opasnosti 
    način širenja sjemena i plodova korova protiv kojeg također nema učinkovitijeg načina borbe. 
    Sjemenke i plodovi korova prenose se, pokatkad čak na velike udaljenosti, u vrijeme jačih kiša, 
    pljuskova, bujica i za topljenja snijega. Prenose ih također manji i veći potoci, a šire se i 
    odvodnjom i natapanjem. Pri prenošenju vodom propada određen dio sjemenaka i plodova korova. 
    Specifična im je masa manja od vode, a često imaju i posebne dodatke u obliku mjehura ili su 
    im intercelularni prostori ispunjeni zrakom, pa lakše lebde na vodi. Osim toga, u nekih je 
    korova sjeme presvučeno voštanom prevlakom, pa se ne namače, čime se otpornost sjemena prema 
    vodi povećava.</p>
    
    <p>U poplavnim područjima nakon povlačenja vode, sjeme zaostaje. Konjska kiselica i orijaška 
    ambrozija tipični su primjeri korova kojih se sjeme širi hidrohorijom. Međutim, sjeme se može 
    širiti vodom, iako posebno nije tome prilagođeno. Sjeme može sazrijeti i pasti na tlo, pa ga 
    jake kiše mogu prenijeti na drugu površinu. Pri torencijalnim kišama čitave biljke mogu biti 
    prenesene na velike udaljenosti.</p>
    
    <p>Širenje životinjama ili zoohorija odvija se na nekoliko načina, a u njemu najviše sudjeluju 
    sisavci, ptice i kukci. Zoohorija se dijeli na epizoohoriju i endozoohoriju, a njezini su posebni 
    oblici još sinzoohorija i mirmekohorija. Širenje sjemena korova epizoohorijom česta je pojava. 
    Pri tom načinu širenja sjemenke ili plodovi korova hvataju se ili prilijepe za tijela životinja 
    (dlake, runo, perje i između papaka) različitim hvataljkama ili ljepljivim tvarima. Jednostavne 
    kukaste dlake nalaze se na plodovima korova čekinjasta broćika i lazarkinja. Na plodovima nekih 
    korovskih specijesa oštri su trnovi koji se zabadaju u kopita i tako prenose na velike udaljenosti. 
    Sjemenke korova velikog čička, malog čička i kukolja lako se hvataju na tijela životinja.</p>
    
    <p>I endozoohorija je važan čimbenik širenja sjemenskih korova, pri čemu mnoge sjemenke korova 
    prolaze neoštećene kroz probavni trakt životinja u koji dospijevaju zajedno s hranom koju jedu 
    životinje. Neke životinje jedu i sočne plodove. Sjemenke korova padaju na tlo ili dospijevaju u 
    stajski gnoj i u povoljnim uvjetima klijaju. Zanimljivo je spomenuti da se, primjerice, stir i 
    kopriva bolje razvijaju nakon prolaska njihovih sjemenaka kroz probavni trakt. Sjeme korova na 
    velike udaljenosti raznose i ptice, dakako, korova s jestivim sjemenkama i plodovima (ornitohorija). 
    Dio sjemenaka slučajno im ispada, a dio prolazi neoštećen kroz probavni trakt i klija u povoljnim uvjetima. 
    Premda je činjenica da ptice šire neke korove, općenito se vjeruje da ih mnogo više unište nego prošire.</p>
    
    <p>Sinzoohorija je skupljanje sjemenaka i plodova, što čine neke životinje (hrčak, voluharica, 
    miševi, vjeverica itd.). Te sjemenke i plodovi sadrže vrlo malo vode, zaštićeni su od ulaženja vode, 
    a sadrže i rezervne tvari, što im omogućuje sigurnu propagaciju. I neki kukci mogu do određene mjere 
    sudjelovati u širenju sjemenaka korova. U prvom redu to su mravi, pa se taj način širenja naziva 
    mirmekohorija. Štoviše, ima biljaka koje se jedino šire pomoću mrava (obligatna mirmekohorija).</p>
    
    <p>Širenje korova djelovanjem čovjeka ili antropohorija također je činjenica, i unatoč tome što 
    se čovjek aktivno bori protiv korova da bi uzgoj bilja učinio što efikasnijim. Pri tome on nesvjesno 
    širi korove, tako da antropohorija prati poljoprivredu od njezinih početaka, što najbolje potvrđuju 
    arheofiti kao drevni korovski specijesi. Čovjek širi korove sjetvom nedovoljno očišćenog sjemena, 
    primjenom nezrelog stajskoga gnoja, obradom tla, prvenstveno rizomnih korova, prometom poljoprivrednih 
    proizvoda, ponajprije sjemena i reprodukcijskog materijala, ali i nekih drugih proizvoda. 
    Dometi antropohorije sve su veći, a u ratnim vremenima prebacivanjem vojske i dobara, ne samo iz 
    države u državu, već i s jednog kontinenta na drugi, za što nalazimo potvrdu u oba svjetska rata, 
    još se povećavaju.</p>

    </div>
    
    
{% endblock %}
