{% extends "global/Page.html" %}
{% load otree %}

{% block styles %}
    <style>
        .col-form-label {
            word-wrap: break-word;
            width: 517px
        }
    </style>

{% endblock %}


{% block title %}
    Prvi dio zadatka: Čitanje teksta
{% endblock %}

{% block content %}
    
    <div style="text-align: justify; text-justify: inter-word">
    
        <br>
        
        <p>
            Prikaz nakon ovoga sadržava tekst.
        </p>
        
        <p>
            {% formfield player.predznanje %}
        </p>
        
        <p style="word-wrap: break-word; width: 462px">
            Vaš zadatak je pročitati taj tekst jednom, koncentrirano i s razumijevanjem,
            brzinom koja Vam dolazi prirodno i koja Vam omogućava praćenje sadržaja teksta.
        </p>
        
        <p style="word-wrap: break-word ; width: 462px">
            Kada ga pročitate jednom, tj. kada dođete do kraja, 
            pritisnite tipku "Dalje" koja se nalazi pri dnu teksta.
        </p>
    
        <br>
        <br>
        <br>    
    
        <p>
            Kada ste spremni započeti s čitanjem teksta, pritisnite tipku "Dalje".
        </p>
        
    </div>
    
    <br>
    <br>
    <br>
    
    <button style="float: right;" class="otree-btn-next btn btn-primary next-button otree-next-button">Dalje</button>

{% endblock %}